[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.11.1"
flask = "==2.2.5"
flask-migrate = "==4.0.4"
flask-sqlalchemy = "==3.0.5"
python-dotenv = "==0.20.0"
sqlalchemy = "==2.0.17"
pymysql = "==1.0.3"

[dev-packages]

[requires]
python_version = "3.7"
